# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
Application.log
console/target/
dao/target/
services/target/

/.idea/libraries/Maven__org_projectlombok_lombok_1_18_6.xml
